@using _30AprilClassTaskPronia.ViewModels.Account
@model RegisterVM
<ul>
    <li>
        <a href="index.html">Home</a>
    </li>
    <li>Login | Register</li>
</ul>
<div class="col-lg-6 pt-5 pt-lg-0">
    <form action="#">
        <div class="login-form">
            <h4 class="login-title">Register</h4>
            <div class="row">
                <div class="col-md-6 col-12">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" />
                </div>
                <div class="col-md-6 col-12">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" />
                </div>
                <div class="col-md-12">
                    <label>Email Address*</label>
                    <input type="email" placeholder="Email Address" />
                </div>
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" placeholder="Password" />
                </div>
                <div class="col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" />
                </div>
                <div class="col-12">
                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </form>

